<!DOCTYPE html>
<head lang="en">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<meta charset="UTF-8">
<link rel="stylesheet" href="/chefstyle.css">
</head>
<header class="head">
     <div class="head-details">
        <div>
            <img class="logo" src="https://i.pinimg.com/originals/0d/ec/ba/0decba8b2aae254082331aac32259d52.jpg">
        </div>
       <div class="login-buttons">
        <a href="/login"> <button class="login">LogIn</button></a>
       <button class="login">SignIn</button>
      </div>
      </div>
    <div class="head-text">
      <h1>Craving For <span>Fresh</span> FOOD?<br>Hire A Chef NOW</h1>
    </div>
</header>
<body>
    <section class="into">
      <div class="booking-plan">
        <div class="plan" style="background-image: url('https://m.media-amazon.com/images/S/assets.wholefoodsmarket.com//content/6c/da/57c96cee4de992d00531f43f8460/the-10-best-tricks-to-make-weekly-meal-prep-a-breeze-hero.jpg');">
          <div class="plan-text">For A Meal</div>
          <div class="plan-text pricing-plan">Starting at Rs.199</div>
          <div>
            <button class="plan-button plan-text">BOOK</button>
          </div>
          
        </div>
        <div class="plan" style="background-image: url('https://m.media-amazon.com/images/S/assets.wholefoodsmarket.com//content/6c/da/57c96cee4de992d00531f43f8460/the-10-best-tricks-to-make-weekly-meal-prep-a-breeze-hero.jpg');">
    
          <div class="plan-text">For A Meal</div>
          <div class="plan-text pricing-plan">Starting at Rs.199</div>
          <div><button class="plan-button plan-text"><a href="/for-a-meal"></a>BOOK</button></div>
         
        </div>
        <div class="plan" style="background-image: url('https://m.media-amazon.com/images/S/assets.wholefoodsmarket.com//content/6c/da/57c96cee4de992d00531f43f8460/the-10-best-tricks-to-make-weekly-meal-prep-a-breeze-hero.jpg');">
         
          <div class="plan-text">For A Meal</div>
          <div class="plan-text pricing-plan">Starting at Rs.199</div>
          <div><button class="plan-button plan-text"><a href="/">BOOK</a></button></div>
          
        </div>
        <div class="plan" style="background-image: url('https://m.media-amazon.com/images/S/assets.wholefoodsmarket.com//content/6c/da/57c96cee4de992d00531f43f8460/the-10-best-tricks-to-make-weekly-meal-prep-a-breeze-hero.jpg');">
        
          <div class="plan-text">For A Meal</div>
          <div class="plan-text pricing-plan">Starting at Rs.199</div>
          <div><button class="plan-button plan-text">BOOK</button></div>
          
        </div>
      </div>

    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="./chefjs.js" charset="UTF-8"></script>
</body>
  
</head>