*{
    margin:0;
    padding:0;
}

{

}

#map { height: 280px; 
width: 680px;
}

.booking_page{
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
   
}

.booking_details{
   display: flex;
   flex-direction: column;
   width:800px;
   height: 100%;
   margin:20px;
   justify-content: center;
   padding:20px;
   gap: 20px;
   box-shadow: 7px 7px 50px grey;
}

.location_details{
    width:800px;
    height: 100%;
    margin:20px;
}

h1{
    font-size: 50px;
    text-align: center;
}

h3{
    font-size: 35px;
    color: teal;
    font-weight: 800;
}

h4{
    font-size:25px;
    color:black;
    font-weight:800;
}
p{
    font-size: 22px;
    font-weight: 800px;
}
h1,h3,h4{
    margin: 10px 0px;
}
.info{
    width: 300px;
    height: 30px;
    margin:10px;
    font-size: 17px;
}

#submit{
    height: 60px;
    width: 230px;
    background-color: teal;
    color: white;
    font-size: 23px;
    font-weight: 700;
    margin: 40px 40%;
    text-align: center;
    border: none;
}