body{
    margin: 0;
    padding: 0;
}
.head{
    background-image: url(https://images.unsplash.com/photo-1600891964599-f61ba0e24092?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: top;
    background-size: cover; 
    height: 600px;
    margin:0;
    padding: 0;
    position: relative;
} 

.head-details{
    position:absolute;
    background-color: coral;
    height: 90px;
    width:100%;
    display:flex;
    justify-content:space-between;
    
    
}
.head-text{
    position: absolute;
    padding: 120px 40px;
    font-size: 40px;
    
}
 .logo{
    height: 50px;
    width: 50px;
 }

 .login-buttons{
   padding: 20px 30px;
 }

 .login{
    padding:16px;
    width: 90px;
    border-radius: 10px;
    border: 2px solid white;
    background-color: transparent;
    margin-left:10px;
    cursor:pointer;
 }

.intro{
    background-image: url("https://images.unsplash.com/photo-1600891964599-f61ba0e24092?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: top;
    height: 200px;
    width:100%;
    position: relative;
   padding-top: 90px;
}

.booking-plan{
    display: flex;
    width:100%;
    position: relative;
    justify-content: space-around;
    margin: 60px 0px;
}

.plan{
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 18% 18% 0% 0%;
    width: 300px;
    align-items: center;
    height: 200px;
    background-repeat: no-repeat;
    background-size: 300px 150px;
    padding-top: 180px;
    gap:30px;
    
}

.plan-text{
    font-size:20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    padding: 8px;
}

.plan-button{
    width:200px;
    padding: 10px;
    background-color: coral;
    border-color: transparent;
    color: white;
    border-radius: 900%;
}
