*{
    margin: 0;
    padding: 0;
}
.container
{
    background-color: white;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-details
{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 600px;
    width: 600px;
    position: relative;
    overflow: hidden;
    border:3px solid turquoise;
   box-shadow: 10px 10px 50px grey;
}


.login,.signup{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding:0px 90px;
    
}

.entries{
    font-size:20px;
    height: 40px;
    width: 400px;

}

.login{
    gap: 30px;
}

.signup{
    gap: 20px;
}

.register-btn{
    border: none;
    width:400px;
    font-size: 20px;
    font-weight:600;
    height: 60px;
    color: white;
    background-color: turquoise;

}

.errors{
    color: red;
    font-size: 20px;
    text-align: center;
    font-weight: 300;
}

.success{
    color: green;
}